html {
  font-size: 100px;
}
.head {
  width: 100%;
  height: .33rem;
  background: #f7f7f7;
  border-top: 3px solid #043562;
}
.nav {
  width: 100%;
  height: .85rem;
}
.nav .nav-container {
  width: 9.92rem;
  height: 100%;
  margin: 0 auto;
  font-size: .2rem;
}
.nav .nav-container .logo {
  float: left;
  width: 2.2rem;
  height: .48rem;
  margin-top: .19rem;
  margin-right: .2rem;
}
.nav .nav-container .first-level {
  float: left;
  position: relative;
  top: .29rem;
}
.nav .nav-container .nav-box {
  width: 1.4rem;
  height: .56rem;
  line-height: .56rem;
  text-align: center;
  float: left;
  position: relative;
  margin-left: .15rem;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.nav .nav-container .nav-box a {
  color: #6b6b6b;
  width: 100%;
  display: inline-block;
}
.nav .nav-container .nav-box:hover {
  height: .51rem;
  line-height: .46rem;
  border-top: 5px solid #043562;
  border-left: 1px solid #043562;
  border-right: 1px solid #043562;
  border-bottom: 1px solid #043562;
  background: #95ccf9;
}
.nav .nav-container .nav-box:hover > a {
  color: #fff;
}
.nav .nav-container .nav-box:hover .second-level {
  display: block;
}
.nav .nav-container .second-level {
  position: absolute;
  top: .52rem;
  left: -0.01rem;
  z-index: 99;
  display: none;
}
.nav .nav-container .second-level li {
  width: 1.4rem;
  height: .56rem;
  line-height: .56rem;
  text-align: center;
  border: 1px solid #043562;
  border-top: none;
  background: #fff;
}
.nav .nav-container .second-level > li:hover {
  background: #95ccf9;
}
.nav .nav-container .second-level > li:hover > a {
  color: #fff;
}
.nav .nav-container .account-manage {
  position: relative;
}
.nav .nav-container .account-manage:hover .third-level {
  display: block;
}
.nav .nav-container .third-level {
  position: absolute;
  display: none;
  left: 1.4rem;
  top: -0.01rem;
}
.nav .nav-container .third-level > li:first-child {
  border-top: 1px solid #043562;
}
.nav .nav-container .third-level > li:hover {
  background: #95ccf9;
}
.nav .nav-container .third-level > li:hover > a {
  color: #fff;
}
.ad {
  width: 100%;
  height: 3rem;
  background: url('../img/ad.jpg');
  background-position: center;
}
.pic {
  position: relative;
  height: 1rem;
}
.pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.15rem;
  margin-left: -3.05rem;
}
.about {
  width: 100%;
  height: 2.3rem;
  background: #043562;
  color: #fff;
}
.about .about-center {
  width: 9.92rem;
  margin: 0 auto;
}
.about .info-left {
  width: 50%;
  height: 2.3rem;
  float: left;
  padding-right: .4rem;
  box-sizing: border-box;
}
.about .info-right {
  width: 50%;
  height: 2.3rem;
  float: right;
  box-sizing: border-box;
  padding-left: .4rem;
}
.about .title {
  font-size: .2rem;
  margin-top: .3rem;
  margin-left: .1rem;
}
.about .item {
  font-size: .14rem;
  margin-top: .1rem;
}
.about .more {
  font-size: .12rem;
  text-indent: .25rem;
  margin-top: .05rem;
  margin-bottom: .1rem;
}
.about ul {
  overflow: hidden;
  margin-top: .15rem;
}
.about ul li {
  float: left;
  list-style: square;
  font-size: .14rem;
  margin-right: .8rem;
  margin-left: .2rem;
}
.about ul li:nth-of-type(3) {
  margin-right: 0;
}
