body,html {
	padding: 0;
	margin: 0;
}

body {
	font-size: 12px;
	font-family: "Microsoft Yahei";
	background-color: #f2f2f2;
}
a {
	text-decoration: none;
}

/* 头部 */
.header {
	width: 100%;
	min-width: 1050px;
	height: 75px;
	background-color: #013564;
}
.head-wrap {
	width: 1000px;
	height: 75px;
	margin: 0 auto;
}

/* 头部左边 */
.head-left {
	width: 450px;
	height: 75px;
	float: left;
}
h1.logo-h1 {
	margin: 0;
	padding: 0;
}
.logo-a {
	border: 0;
	text-decoration: none;
}
.logo-img {
	width: 225px;
	height: 75px;
}

/* 头部右边 */
.head-right {
	width: 450px;
	height: 75px;
	float: right;
}
.user-info {
	display: table;
	float: right;
	height: 75px;
}
#username {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 75px;
	line-height: 20px;
	text-align: center;
	float: left;
}
.username-a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	transition: color .6s;
}
.logout {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	transition: color .6s;
}
.username-a:hover,.logout:hover {
	color: #676767;
}
.user-pic {
	width: 100px;
	height: 75px;
	float: right;
}
.user-pic-a {
	border: 0;
}
.user-pic-img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}


/* main */
.main {
	width: 100%;
	height: 800px;
	/*min-height: calc(100vh - 175px);*/
	position: relative;
}

.container {
	width: 960px;
	height: 600px;
	/*position: absolute;*/
	margin: 30px auto;
	border: 1px solid #666;
	border-radius: 5px;
	box-sizing: border-box;
}
h2.account-title {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: #000;
	border-bottom: 1px solid #666;
}

/* 表格利率 */
.rate-table {
	margin: 20px auto;
	padding: 0;
}
/* 表格头部 */
thead, .thead-tr {
	width: 700px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.thead-td {
	width: 700px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #111;
}
/* 表格内容 */
tbody, .time {
	margin: 0;
	padding: 0;
	height: 30px;
}
.time-select {
	margin: 0;
	padding: 0;
	width: 175px;
	height: 30px;
}
.time-span {

}
.date {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.now-time {
	margin: 0;
	padding: 0 10px 0 0;
	width: 175px;
	text-align: right;
}
.time-show {
	margin: 0;
	padding: 0;
	width: 175px;
	text-align: center;
}
/* 数据展示开始 */
.item {
	margin: 0;
	padding: 0;
}
.td-left, .td-right {
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.align-left {
	text-align: left;
	text-indent: 10px;
}

#subBtn {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  left: calc(50% - 150px);
  top: -10px;
  transition: background-color 1s;
}
#subBtn:hover {
  background-color: green;
}

/* 尾部 */
.footer {
	width: 100%;
	min-width: 1050px;
	height: 100px;
	background-color: #013564;
}
.footer-wrap {
	width: 1000px;
	margin: auto;
	padding-top: 20px;
	text-align: center;
}
ul.text {
	width: 404px;
	height: 15px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.copyright {
	width: 350px;
	height: 15px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.text li,ul.copyright li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.text li a,ul.copyright li a {
	display: inline-block;
	height: 15px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	color: #8c8c8c;
	line-height: 15px;
	border-right: 1px solid #8c8c8c;
}
ul.text li a:hover,ul.copyright li a:hover {
	text-decoration: underline;
	color: #fff;
}
ul.text li a.noborder,ul.copyright li a.noborder {
	border-right: 0px;
}